NEXT_PUBLIC_KAKAO_API_KEY='REST API Key'
NEXT_PUBLIC_KAKAO_SECRET_KEY='secret key'
NEXT_PUBLIC_KAKAO_REDIRECT_URL='리다이렉트 url'
NEXT_PUBLIC_NEXT_AUTH_SECURE='https 사용 유무'
# ===
NEXTAUTH_URL='베이스 도메인'
NEXTAUTH_SECRET='난수'# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32